In [1]:
!pip install tabulate
import pandas as pd
import json
from tabulate import tabulate

Requirement already satisfied: tabulate in /opt/conda/lib/python3.10/site-packages (0.9.0)

In [2]:
with open('output/top_smart_contracts.txt') as f:
    data = json.load(f)
df = pd.DataFrame(data, columns=["Address", "Value"])
df['Rank'] = df['Value'].rank(method='dense', ascending=False).astype(int)
df.head(15)

,Address,Value,Rank
0,0xaa1a6e3e6ef20068f7f8d8c835d2d22fd5116444,84155363699941767867374641,1
1,0x7727e5113d1d161373623e5f49fd568b4f543a9e,45627128512915344587749920,2
2,0x209c4784ab1e8183cf58ca33cb740efbf3fc18ef,42552989136413198919298969,3
3,0xbfc39b6f805a9e40e77291aff27aee3c96915bdd,21104195138093660050000000,4
4,0xe94b04a0fed112f3664e45adb2b8915693dd5ff3,15543077635263742254719409,5
5,0xabbb6bebfa05aa13e908eaa492bd7a8343760477,10719485945628946136524680,6
6,0x341e790174e3a4d35b65fdc067b6b5634a61caea,8379000751917755624057500,7
7,0x58ae42a38d6b33a1e31492b60465fa80da595755,2902709187105736532863818,8
8,0xc7c7f6660102e9a1fee1390df5c76ea5a5572ed3,1238086114520042000000000,9
9,0xe28e72fcf78647adce1f1252f240bbfaebd63bcc,1172426432515823142714582,10

In [3]:
import sys

# Open a file for writing
with open('output/top10_smart_contracts.md', 'w') as f:
    # Redirect stdout to the file
    sys.stdout = f
    print(tabulate(df, headers='keys', tablefmt="github", showindex=False))
    
    # Restore stdout to its original value
    sys.stdout = sys.__stdout__