In [1]:
!pip install tabulate
import pandas as pd
import json
from tabulate import tabulate

Requirement already satisfied: tabulate in /opt/conda/lib/python3.10/site-packages (0.9.0)

In [2]:
with open('output/top_miners.txt') as f:
    data = json.load(f)

df = pd.DataFrame(data, columns=["Address", "Value"])
df['Rank'] = df['Value'].rank(method='dense', ascending=False).astype(int)
df.head(10)

                                      Address        Value  Rank
0  0xea674fdde714fd979de3edf0f56aa9716b898ec8  17453393724     1
1  0x829bd824b016326a401d083b33d092293333a830  12310472526     2
2  0x5a0b54d5dc17e0aadc383d2db43b0a0d3e029c4c   8825710065     3
3  0x52bc44d5378309ee2abf1539bf71de1b7d7be3b5   8451574409     4
4  0xb2930b35844a230f00e51431acae96fe543a0347   6614130661     5
5  0x2a65aca4d5fc5b5c859090a6c34d164135398226   3173096011     6
6  0xf3b9d2c81f2b24b0fa0acaaa865b7d9ced5fc2fb   1152847020     7
7  0x4bb96091ee9d802ed039c4d1a5f6216f90f81b01   1134151226     8
8  0x1e9939daaad6924ad004c2560e90804164900341   1080436358     9
9  0x61c808d82a3ac53231750dadc13c777b59310bd9    692942577    10

In [3]:
import sys

# Open a file for writing
with open('output/top10_miners.md', 'w') as f:
    # Redirect stdout to the file
    sys.stdout = f
    print(tabulate(df, headers='keys', tablefmt="github", showindex=False))
    
    # Restore stdout to its original value
    sys.stdout = sys.__stdout__